.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }

    .link{
      cursor: pointer;
      color: gray;
      text-decoration: none;
      font-size: 30px;
      font-weight: bolder;
    }


  }