.collection-page {
    display: flex;
    flex-direction: column;
  
    .title {
      font-size: 38px;
      margin: 0 auto 30px;
    }

    h2 
    {
      font-size: 50px;
      text-align: center;
    }
  
    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;

      @media only screen and (max-width: 660px) {
        grid-template-columns: 1fr;
      }

      @media only screen and (max-width: 1200px) and (min-width: 661px){
        grid-template-columns: 1fr 1fr;
      }
  
      & .collection-item {
        margin-bottom: 30px;
      }
    }
  }
  