@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body
{
    font-family: 'Poppins';
    color:white;
    background-color:#131313;
    padding: 2px 15px;

    @media screen and (max-width: 800px) {
        padding: 2px 2px;
      }
}

*{
    box-sizing: border-box;
}

/* a
{
    text-decoration: none;
    color: black;
} */