.cart-icon
{
    height: 100%;
    width: 40%;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items:center;
}

.shopping-icon
{
    width: 60px;
    height: 60px;
}

.item-count 
{
    position: absolute;
    font-size: 2.4vw;
    font-weight: bold;
    top: 40%;
}